<!doctype html>
<html lang="en">

<head>
  <title>Netlify Functions Examples</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Mono" rel="stylesheet">
  <link href="/normalize.css" rel="stylesheet">
  <link href="/styles.css" rel="stylesheet">
</head>

<body>
  <h1>Netlify Functions Examples</h1>
  <p>
    Hi there! This is a playground to test out
    <a href="https://www.netlify.com/docs/functions">Netlify’s Lambda Functions</a>.
  </p>
  <p>
    You can browse the code for this site on
    <a href="https://github.com/imorente/netlify-functions-example">GitHub</a>,
    or play around with the code yourself
    <a href="https://app.netlify.com/start/deploy?repository=https://github.com/imorente/netlify-functions-example">
      deploying a copy to Netlify</a>.
  </p>
  <article>
    <h2>Aaron's Example</h2>
    <p>Learning to cache and write fxns</p>
    <pre class="language-js"><code><%= require('html-loader!./lambda/cached.js') %></code></pre>
    <h3>Try it out</h3>
    <p><a href="/.netlify/functions/cached">Get Cached!</a></p>
  </article>

  <article>
    <h2>Aaron's Example 2</h2>
    <p>Learning to cache and write fxns</p>
    <pre class="language-js"><code><%= require('html-loader!./lambda/spotify.js') %></code></pre>
    <h3>Try it out</h3>
    <p><a href="/.netlify/functions/spotify">Get Artists!</a></p>
  </article>

  <script src="main.js"></script>
</body>

</html>